* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.header {
    height: 50px;
}

.slider {
    flex: 1;
    overflow: hidden;
}

.slider-width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.slider-controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slider-control {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}










h2 {
    background-color: orange;
}